.root{
  text-align: center;
}
.textDomains {
  text-align: left;
  border-bottom: 1px solid gainsboro;
}
.cardDomain:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
.cardDomain img {
  width: 100%;
  height: auto;
}

.cardDomain h4 {
  padding: 5px 0 10px 0;
}
